$primary-font: inter, sans-serif;
$secondary-font: Montserrat, sans-serif;
$light-text: #e4e5ea;

$primary-bg-color: #1e1620;
$main-font-size: 36px;
$main-line-height: 43px;
$secondary-font-size: 18px;
$secondary-line-height: 22px;
