@import '../../../styles/variables';

.button {
  padding: 21px 35px;
  font-family: $primary-font;
  font-size: 16px;
  background-color: #4077f3;
  color: $light-text;
  line-height: 19px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #2f61cf;
  }
}
