.header {
  background-color: #0e1014;

  ul {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    align-items: center;

    list-style: none;
    a {
      color: #e4e5ea;
      font-family: inter;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    li {
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
