*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;

  @media screen and (min-width: 1280px) {
    padding: 46px 150px;

    background: url('./accets/images/bgDesktop.png') center/cover no-repeat;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
